
/* colors
-#101419    Rich Black 
-#0C1B33    Oxford Blue
-#C0E5C8    Tea Green
-#C0303C     Cardinal
-#848FA5  Cool Grey -> blueish grey
*/


/* fonts */

/* use for headings */
/*  font-family: "Lugrasimo", cursive;  */
/*  font-family: "Lugrasimo", cursive;  */


html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}


body
{
    text-align: center;
    background-color: #0C1B33;
    color: #C0E5C8;
    font-family: "Montserrat", sans-serif;

    padding: 3%;
}

header
{
    color: #C0303C;
    font-size: 60px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
}

h1
{
    color: #C0303C;
    font-size: 40px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
}

h2
{
    color: #C0303C;
    font-size: 30px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
}

h3
{
    color: #101419;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 200;
}


a:link
{
    color: #848FA5;
}

a:visited
{
    color: #848FA5;
}



ul 
{
    list-style-type: none;
}

#navBAR ul
{
    margin: 0%;
    padding: 0%;
    display: flex;
    text-align: center;
    justify-content: center;
}
#navBAR ul li
{
    display: inline;
}


.navElement
{
    margin: auto;
    font-size: 35px;
}

#progLangDiv, #platDiv, #osDiv
{
    box-sizing: border-box;
}

.skillcard
{
    background-color: #848FA5;
    border-radius: 15px;
}
/* Style for hiding skill stuff */
.hovShow
{
    background-color: #848FA5;
    columns: 200px 2;
    color: #101419;
}

.hovShow li
{
    margin: auto;
    padding: 5%;
}



#skillSec
{
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

@media (min-width: 1200px) {
    #skillSec 
    { 
        grid-template-columns: repeat(3, 1fr); 
    }

    #langList, #platList, #otherList 
    {
        transition: opacity 0.5s;
        opacity: 0;
    }


    #langList:hover, #platList:hover, #otherList:hover 
    {
        transition: opacity 0.5s;
        opacity: 1;
    }
}