
/* colors
-#780000 dark red
-#FDF0D5 white beige ish
-#669BBC teal gray
-#003049 dark navy teal
-#C1121F red orange
*/


/* fonts */

/* use for headings */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
/* font-family: 'Silkscreen', cursive; */


@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
/* 

/* generic use */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&display=swap');
/* font-family: 'Chakra Petch', sans-serif; */



html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}


body
{
    text-align: center;
}


ul 
{
    list-style-type: none;
}

#navBAR ul
{
    margin: 0%;
    padding: 0%;
    display: flex;
    text-align: center;
    justify-content: center;
}
#navBAR ul li
{
    display: inline;
}


.navElement
{
    margin-right: 5%;
}

#progLangDiv, #platDiv, #osDiv
{
    box-sizing: border-box;
}

/* Style for hiding skill stuff */
.hovHide
{
    columns: 200px 2;
}



#skillSec
{
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

@media (min-width: 1200px) {
    #skillSec 
    { 
        grid-template-columns: repeat(3, 1fr); 
    }

    #langList, #platList, #otherList 
    {
        transition: opacity 0.5s;
        opacity: 0;
    }


    #langList:hover, #platList:hover, #otherList:hover 
    {
        transition: opacity 0.5s;
        opacity: 1;
    }
}